@font-face {
  font-family: "iconfont"; /* Project id 4138936 */
  src: url('//at.alicdn.com/t/c/font_4138936_qsm1p7503k.woff2?t=1687768446496') format('woff2'),
       url('//at.alicdn.com/t/c/font_4138936_qsm1p7503k.woff?t=1687768446496') format('woff'),
       url('//at.alicdn.com/t/c/font_4138936_qsm1p7503k.ttf?t=1687768446496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-choose:before {
  content: "\e614";
}

.icon-choosehandle:before {
  content: "\e615";
}

